.main-margin {
    margin-right: 32px;
    margin-left: 32px;
    margin-top: 32px;
    margin-bottom: 32px;
}

.field {
    width: 250px;
    margin-right: 16px;
}

.mb-12 {
    margin-bottom: 12px;
}

.mt-12 {
    margin-top: 12px;
}